{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h1>{{ user.username }}'s liked messages</h1>
            <ul class="list-group" id="messages">
                {% for message in messages %}
                    <li class="list-group-item">
                        <a href="/users/{{ message.user.id }}">
                            <img src="{{ message.user.image_url }}" alt="" class="timeline-image">
                        </a>
                        <div class="message-area">
                            <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
                            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
                            <p>{{ message.text }}</p>
                        </div>
                        {% if message.user.id != g.user.id %}
                        <form method="POST" action="/users/toggle_like/{{ message.id }}">
                                <button type="submit" class="btn btn-sm">
                                    <i class="fa fa-thumbs-up" style="color: {{ 'blue' if message in g.user.likes else 'grey' }}"></i> 
                                </button>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}